$font-stack: Helvetica, sans-serif;
$primary-font-size: Helvetica, sans-serif;
$primary-color: #333;

$menu-width: 150px;

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 19pt;
}

#menu {
  background-color: rgba(0, 0, 0, 0.18);
  float: right;
  width: $menu-width;
  height: 100%;
  margin: 0 50px 0 50px;
  ul {
    a {
      text-decoration: none;
    }
  }
}